:root
{
     --blue : #2C2546;
     --drak-blue : #181535;
     --green : #00EB09;
     --white : #fff;
 }
 
*
{
   margin: 0px;
   padding: 0px;
   text-decoration: none;
   box-sizing: border-box;
   font-family: 'Tahoma';
}
 
 body
{
   background-color: var(--drak-blue);
   color: var(--white);
}
 
header
{
   align-items: center;
   position: fixed;
   width: 100%;
   top: 0;
   padding: 2%;
   font-weight: bold;
   font-size: 15pt;
   justify-content: center;
   text-align: center;
   background-color: var(--blue);
}
 
.title
{
   color: var(--green);
   font-size: 15pt;
   border-bottom: 1px solid var(--white);
}
 
.search-input
{
   width : 30%;
   border: none;
   border-radius: 0 0 0 10px;
   padding: 2px;
}
 
.search-sumbit
{
   margin-left: 5px;
   border: none;
   border-radius: 0 10px 0 0;
   padding: 2px;
   background-color: var(--green);
   color: var(--white);
}
